@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif+JP:wght@200..900&display=swap');

$base-color: #f8eee6;
$title-color: #826951;
$accent-color: #b99470;
$accent-color2: #deac80;
$key-color: #b5c18e;

$font-ja: "Noto Serif JP", serif;
$font-en: "Libre Baskerville", serif;

$breakpoints: (
  'sp': "(max-width: 767px)",
  'tab': "(min-width: 768px) and (max-width:1279px)",
  'pc': "(min-width: 1280px)"
) !default;


@mixin mq($breakpoint: sp) {
   @media #{map-get($breakpoints, $breakpoint)} {
 @content;
}
}